.news, .staff, .products {
    display:flex;
}

.news h3 {
    color: var(--blue);
}

.news p {
    color: var(--gray);
}

.staff { 
    justify-content:space-between;
    background-color:var(--blue);
    color: #fff;
}

.staff h2, .staff p {
    text-align: center;
}

.staff h2 {
    margin:20px;
}

.staff div {
    border: 1px solid #aaa;
}

.staff h3 {
    text-align: center;
    margin: 30px 0 10px;
}

.staff p {
    color:#ddd;
}

.products p {
    color:#aaa;
}

.products h2 {
    color: var(--blue);
}

.products h3 {
    color: var(--blue);
}

.products h2, .products > p {
    text-align: center;
}


.products h2 {
    margin:20px;
}
.products > p {
    margin-bottom: 80px;
}

.products h3 {
    margin:20px 0;
}

.products div p {
    margin-bottom: 30px;
}

@media (max-width:576px){
    .news, .staff, .products {
        flex-direction: column;
    } 

    .staff{
        margin: 50px 10px;
    }

    .staff div, .news div{
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .staff div{
        padding: 30px 0px;
    }

    .staff > p {
        margin-bottom: 20px;
    }

    .news{
        margin: 30px 0px;
    }

    .news div{
        justify-content: space-between;
        height: 200px;
        margin: 30px 20px;
        padding-bottom: 30px;
        border-bottom: 1px solid gray;
        text-align: center;
    }

    .news div:last-child{
        border-bottom: 0;
    }

    .news div a{
        width: 100%;
    }

    .products{
        margin: 0px 20px;
        border-bottom: 1px solid gray;
    }

    .products p{
        margin: 0px;
    }

    .products div{
        display: flex;
        flex-direction: column;
        height: 350px;
        margin: 30px 0px;
        text-align: center;
        border-bottom: 1px solid gray;
    }

    .products div:last-child{
        border-bottom: 0px;
    }

    .products div a{
        width: 100%;
    }
    
    #copy{
        display: none;
    }
}


@media (min-width:577px) and (max-width:999px){
    .news{
        flex-direction: column;
        margin: 30px 0px;
    }

    .news div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
        margin: 30px 20px;
        padding-bottom: 30px;
        text-align: center;
    }

    .staff{
        flex-direction: column;
        margin: 0px 10px;
    }

    .staff div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 20px;
        padding: 20px;
    }

    .products{
        flex-direction: column;
        margin: 0px 20px;
    }

    .products p{
        margin: 0px;
    }

    .products div{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 20px 0px;
    }

    .products a{
        width: 100%;
    }

    .products img{
        width: 100%;
    }

    .products div:last-child{
        padding-bottom: 30px;
        border-bottom: 1px solid gray;
    }
}

@media (min-width:1000px){
    .news, .staff, .products {
        padding: 80px 50px 100px;
        flex-direction: row;
    }
    
    .staff, .products {
        flex-wrap: wrap;
    }
    
    .staff div {
        padding: 50px 30px;
    }

    .staff > p {
        margin-bottom: 80px;
    }

    .news div {
        padding:0 40px;
    }
    
    .news p {
        margin-bottom: 30px;
    }
    
    .products {
        justify-content:space-between;
    }
    
    .products h2, .products > p {
        text-align: center;
    }
    
    
    .products h2 {
        margin:20px;
    }
    .products > p {
        margin-bottom: 80px;
    }
    
    .products h3 {
        margin:20px 0;
    }

    .products div p {
        margin-bottom: 30px;
    }
}