:root{
    --main-bottom-background: rgb(243, 243, 242);
    --main-button: rgb(233, 92, 60);
    --date-color: rgb(189, 189, 189);
    --border-color: rgb(90, 90, 90);
}

*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    margin: auto;
}

figure{
    margin: 0;
}

header h1, header p, header a, header li, main h2, main h4, article h3{
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}

header{
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

header h1{
    color: white;
}

header p{
    color: rgb(180, 179, 179);
}

header a{
    color: rgb(184, 183, 183);
}

header a:hover{
    border-style: solid;
    border-radius: 20px;
    border-color: white;
    color: white;
}

main a{
    color: black;
}

main h2, main h4, .gray{
    color: var(--border-color);
}

main h2, main h4{
    margin: 0px;
}

main h2{
    font-size: 1.9rem;
}

.main-top-right article{
    border-top-style: solid;
    border-width: 1px;
    border-color: var(--date-color);
    padding: 10px 0px;
    margin: 10px 0px;
}

.main-top-right article:first-of-type{
    border-top-style: none;
}

.main-top-right figure{
    display: flex;
}
.main-top-right article img{
    margin-right: 15px;
}

article h3{
    color: var(--border-color);
    font-size: 1rem;
}

article p{
    color:var(--date-color)
}

.main-bottom{
    background-color: var(--main-bottom-background);
}

.main-bottom article a{
    margin-left: 0px;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: var(--main-button);
}

footer{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

footer span{
    text-transform: uppercase;
    font-size: 1.1rem;
}

footer ul, footer li, footer ol{
    list-style: none;
    color: white;
    padding: 0px;
}

footer ol{
    margin-top: 20px;
}

footer ol li{
    border-top-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    padding: 10px 0px;
}

footer ol li:first-child{
    border:none;
}

footer a{
    color: var(--border-color);
    text-decoration: none;
}


/*
resolução de celular
*/
@media (max-width:600px){
    header{
        height: 110px;
    }

    #nav-desk{
        display: none;
    }

    #nav-cel{
        position: absolute;
        top: 36%;
        left: 5%;
        height: 100px;
        color: white;
    }

    #nav-cel ul{
        margin: 0px;
        padding: 0px;
        background-color: black;
    }

    #nav-cel li{
        margin: 10px;
        padding: 5px;
    }

    #nav-cel a{
        color: white;
        -bottom: 5px;
    }


    header img{
       width: 100%;
       height: 90px;
       position: absolute;
    }
    header h1{
        font-size: 1.8rem;
        position: absolute;
        top: 10%
        
    }

    main h2{
        font-size: 1.3rem;
    }

    .main-top-left{
        padding: 0% 2%;
    }
    .main-top-left img{
        width: 100%;
    }

    .main-top-right{
        margin: 30px 0px;
        padding: 0% 2%;
    }

    .main-top-right article{
        padding: 0% 3%;
    }

    
    .main-bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1340px;
        padding: 10px 2%;
    }

    .main-bottom article{
        margin-bottom: 30px;
    }
    
    .main-bottom figcaption{
        margin: 10px 0px 30px 0px;
    }

    .main-bottom img{
        width: 100%;
    }

    footer{
        flex-direction: column;
        padding: 0% 2%;
    }

    footer ul{
        width: 80%;
    }

    footer ol{
        padding: 0% 3%;
    }

}



/*
resolução de desktop
*/
@media (min-width:992px) {

    header{
        height: 400px;
    }

    #nav-cel{
        display: none;
    }

    header img{
        position: absolute;
        width: 100%;
        height: 400px;
    }

    header h1{
        position: absolute;
        font-size: 2.8rem;
        top: 20%;
    }
    
    header p{
        position:absolute;
        font-size: 0.9rem;
        top: 36%;
    }
    
    header ul{
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 52%;
        left: 19%;
    }

    header a{
        font-size: 1.05rem;
        margin-left: 25px;
        padding: 10px;
    }

    .main-top{
        display: flex;
        margin: auto;
        padding: 2.5%;
    }

    .main-top-left{
        width: 62%;
    }

    .main-top-left img{
        width: 100%;
    }

    .main-top-right{
        width: 33%;
        margin-left: 5%;
    }

    .main-bottom{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 450px;
        padding: 1% 2.5% 0% 2.5%;
    }

    .main-bottom article{
        width: 31%;
    }

    .main-bottom img{
        width: 100%;
    }

    .main-bottom figcaption{
        margin: 10px 0px 40px 0px;
    }

    footer{
        flex-direction: row;
        padding: 1% 2.5%;
    }

    footer ul{
        width: 29%;
    }
}