footer, footer ul {
    display:flex;
    flex-direction: row;
}

footer {
    justify-content:space-between;
    color: var(--gray);    
}

footer a {
    color: var(--blue);
}

@media (max-width: 576px){
    footer{
        justify-content: center;
        margin: 30px;
    }

    footer ul li{
        margin-left: 25px;  
    }

    footer ul li:first-child{
        margin-left: 0px;
    }
}

@media (min-width:577px) and (max-width:999px){
    footer{
        margin: 20px 10px;
    }

    footer ul li{
        margin-left: 25px;  
    }
}

@media (min-width:1000px){
    footer, footer ul {
        display:flex;
        flex-direction: row;
    }
    
    footer {
        margin: 0px 50px;   
    }
    
    footer div {
        margin-top: 30px;
    }
    
    footer li {
        margin: 10px;   
    }
}