/* reset.css */
@import "./base/reset.css";

/* typography.css */
@import "./base/typography.css";

/* button.css */
@import "./components/button.css";

/* dropdown.css */
@import "./components/dropdown.css";

/* header.css */
@import "./layout/header.css";

/* navigation.css */
@import "./layout/navigation.css";

/* footer.css */
@import "./layout/footer.css";

/* variables.css */
@import "./utils/variables.css";

/* utilities.css */
@import "./utils/utilities.css";

header {
    background-image: url(../images/banner.jpg);
    border-top: 10px solid var(--blue);
}

.staff img{
    border-radius:50%;
}

@media (max-width:576px){

    #nav-desktop{
        display: none;
    }

    header{
        height: 250px;
    }

    .staff div{
        margin: 30px 20px;
    }

    header h1{
        top: 80px;
    }

    header p{
        top: 90px;
    }

    header h3{
        top: 30px;
        left: 20px;
    }

    header details{
        position: absolute;
        top: 30px;
        right: 70px   
    }
}

@media (min-width:577px) and (max-width:999px){
    #nav-desktop{
        display: none;
    }

    header{
        height: 250px;
    }

    header h1{
        top:90px;
    }

    header p{
        top: 100px;
    }

    header h3{
        top:40px;
        left:20px;
    }
}


@media (min-width:1000px) {

    #nav-cel{
        display: none;
    }

    header {
        height:400px;
        border-top: 10px solid var(--blue);
    }

    header ul {
        width:200px;
        top: 80px;
        right: 50px;
    }

    header h3 {
        top: 80px;
        left: 50px;
    }

    header h1 {
        top:160px;
    }

    header p {
        top:180px;
    }

    /* 
    Main começa aqui
    */

    .news div {
        border-right: 1px solid #ddd;
    }

        .staff h2, .staff p {
            width: 100%;
        }

        .staff div {
            border: 1px solid #aaa;
        }

    .products h2, .products > p {
        width: 100%;
    }

    .products div {
        width: 450px;
        margin: 25px;
    }

    .products img {
        width:100%;
    }

    /* 
    Footer
    */

    footer {
        border-top: 1px solid #aaa;    
    }

}